:root {
    /* <!-- Custom Cursors --> */
    --cursor-pointer: url(../img/nscape/pointer.cur), pointer;
    --cursor-grab: url(../img/nscape/grab.cur), grab;
    --cursor-grabbing: url(../img/nscape/grabbing.cur), grabbing;
}

/* <!--  Netscape browser  --> */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    height: 100%;
    overflow: hidden;
    width: 1280px;
    justify-self: center;
    
}

/* <!-- Custom Scrollbar --> */
::-webkit-scrollbar {
    width: 24px;
    height: 24px;
    cursor: var(--cursor-grab);
}

::-webkit-scrollbar-track {
    background-color: white;
    background-image: url(../img/nscape/dith_50.png);
    background-size: contain;
}

::-webkit-scrollbar-button {
    background: #c0c0c0;
    border: 2px outset #ffffff;
    height: 24px;
    width: 24px;
    color: black;
    cursor: var(--cursor-pointer);
}

::-webkit-scrollbar-button:active {
    border: 2px inset white;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../img/nscape/up.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../img/nscape/down.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(../img/nscape/left.png);
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(../img/nscape/right.png);
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 2px outset #ffffff;
    cursor: var(--cursor-grab);
}

::-webkit-scrollbar-thumb:active {
    /* border: 2px inset white; */
    cursor: var(--cursor-grabbing);
}

::-webkit-scrollbar-corner {
    background-color: #c0c0c0;
    background-image: url(../img/nscape/dith_50.png);
    background-blend-mode: overlay;
    background-size: contain;
}

/* <!-- Browser UI --> */
.browser-window {
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
}

.border-button {
    background-color: #c0c0c0;
    color: black;
    text-align: center;
    justify-content: center;
    border: 2px outset #ffffff;
    text-decoration: none;
    cursor: var(--cursor-pointer);
}

.border-button:active {
    border: 2px inset white;
}

.title-bar {
    background-color: #000080;
    color: white;
    padding: 3px 5px 3px 0px;
    margin: 0px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-height: fit-content;
}

.title-left {
    display: flex;
    align-items: inherit;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.title-right {
    display: flex;
}

.title-right .border-button {
    width: 24px;
    height: 21px;
    padding: 0px;
}

.ribbon-bar {
    background-color: #c0c0c0;
    padding: 2px 5px;
    border-bottom: 1px solid #808080;
    justify-content: space-between;
    max-height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.ribbon-bar .border-button {
    display: inline-block;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 16px;
    min-height: 100%;
    
    flex: 0 0 auto; 
}

/* Special logo button for nscape logo */
.logo-button {
    background-color: #c0c0c0;
    color: black;
    text-align: center;
    justify-content: center;
    border: 3px outset #ffffff;
    text-decoration: none;
    cursor: var(--cursor-pointer);
    display: inline-block;
    padding: 0px;
    margin-right: 5px;
    max-height: fit-content;

}

.logo-button:active {
    border: 3px inset white;
}

.menu-bar {
    background-color: #c0c0c0;
    padding: 2px 5px;
    border-bottom: 1px solid #808080;
    max-height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.menu-bar button {
    border: none;
    background-color: #c0c0c0;
    text-decoration: none;
    margin: 0px;
    padding: 2px 7px;
    font-size: smaller;
    cursor: var(--cursor-pointer);
}

.menu-bar button:hover {
    background-color: #a1a1a1;
}

.menu-bar button:active {
    background-color: #808080;
}

.address-bar {
    background-color: #ffffff;
    padding: 2px 5px;
    border: 2px inset #808080;
    margin: 2px 5px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* <!-- Content --> */
/* 1st revision kept for reference */
/* Scrolling wrapper */
/* .content-wrapper {
    position: relative;
    flex-grow: 1;
    background-color: #ffffff;
    margin: 0 2px 2px;
    border: 2px inset #808080;
    overflow: scroll !important; 
}

.website-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0px;
    min-height: 100%;
    max-width: 100%;
    border: 2px #ffffff;
} */
/* 2nd using this guide by Ben Marshall: https://benmarshall.me/responsive-iframes/ */
.content-wrapper {
    flex-grow: 1;
    position: relative;
    background-color: #ffffff;
    margin: 0 2px 2px;
    border: 2px inset #808080;    
}

.website-content {
    overflow: scroll !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 2px #ffffff;
}


/* <!-- Status ribbon - footer --> */

.status-bar {
    background-color: #c0c0c0;
    padding: 1px 5px;
    max-height: fit-content;
    /* border-top: 1px solid #808080; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bar .status-item {
    background-color: #c0c0c0;
    border: 2px inset #ffffff;
    padding: 2px 5px;
    flex-grow: 1;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* <!-- Media resizing --> */

@media (max-width: 1279px) {

    body, html {
        background-color: black;
        overflow: hidden;
        width: 100vw;
        justify-self: center;
    }
}

@media (max-aspect-ratio: 4/3) {
    header {
        display: none;
    }

    footer {
        display: none;
    }    
}

@media (max-width: 800px) {

    /* Hide browser ui on small screens */
    header {
        display: none;
    }

    footer {
        display: none;
    }
}